  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');


  /* Global CSS Variables (Replaces Tailwind Config) */
  :root {
      --color-gold-100: #F9F1D8;
      --color-gold-200: #F0E0AA;
      --color-gold-300: #E6CF7D;
      --color-gold-400: #D4AF37;
      --color-gold-500: #B5952F;
      --color-gold-600: #967D27;

      --color-charcoal: #1C1C1C;
      --color-warm-gray: #FAFAF9;
  }


  /* Global Resets & Typography */
  .app-wrapper {
      font-family: 'Montserrat', sans-serif;
      color: var(--color-charcoal);
      -webkit-font-smoothing: antialiased;
      width: 100%;
      overflow-x: hidden;
  }


  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }